<?xml version="1.0" encoding="utf-8" ?>
<root version="2">
  <!--
  This section drives what is shown in the Edit tab.
  "category" elements create branches in the tree structure.
  "parameter" elements are fields that the user can edit.
    Each parameter has a unique key (it MUST be unique!) identifying it.
    This allows Pawn files to be a simple, flat, dictionary of key/value pairs.
    Depending on the child elements of a parameter element, the parameter can be
    displayed using a variety of UI controls, such as a drop-down or a slider.
  -->
  <edit>
    <!--
    This is a dictionary of reusable options for drop-downs.
    This helps to prevent code duplication.
    For example, there are six drop-downs per weapon skill.
    Without this, you would have to copy/paste the dozens of
    available skills for each of the six drop-downs.
    -->
    <optionsDict>
      <optionsDictEntry>
        <key>skillSword</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Blink Strike</label>
          <value>40</value>
        </option>
        <option>
          <label>Skyward Lash</label>
          <value>45</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillMace</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Blink Strike</label>
          <value>40</value>
        </option>
        <option>
          <label>Skyward Lash</label>
          <value>45</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillGSword</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillDagger</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Scarlet Kisses</label>
          <value>152</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillWand</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Ingle</label>
          <value>210</value>
        </option>
        <option>
          <label>Anodyne</label>
          <value>220</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillWandDX</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillHammer</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillShield</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Shield Summons</label>
          <value>272</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillBow</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
        <option>
          <label>Threefold Arrow</label>
          <value>350</value>
        </option>
      </optionsDictEntry>
      <optionsDictEntry>
        <key>skillBowMG</key>
        <option>
          <label>Unassigned</label>
          <value>-1</value>
        </option>
      </optionsDictEntry>
    </optionsDict>
    <!--
    This creates an expandable tree node labelled Appearance in the Edit tab.
    It is purely cosmetic; the order or structure of categories doesn't impact anything,
    and they are not associated to anything else using keys or whatnot.
    -->
    <category>
      <label>Appearance</label>
      <!--
      This creates a field labelled Name.
      Name is a special parameter, because in the .sav file it is a huge array
      of 25 character values, encoded as decimal numbers, but we just want to display
      it as a simple string.
      The <name></name> element tells PawnManager to display this as a "name" field,
      which determines how it interprets the data when reading from the .sav file,
      and what control to use in the UI (in this case, a simple text box).
      It's empty because there isn't anything more to say about this being a name field,
      unlike a drop-down where you need to specify what the options are, or a slider,
      where you need to give the range of values.
      -->
      <parameter>
        <key>name</key>
        <label>Name</label>
        <name></name>
      </parameter>
      <parameter>
        <key>gender</key>
        <label>Gender</label>
        <!--
        This is a drop-down field, which is important because most of the crowd-sourced research
        will involve these.
        First, you'll notice <disableCustom />.  That's a kind of rare option for drop-downs.
        If you don't specify it, a "Custom" option is automatically added to the drop-down,
        and the user is allowed to put in any value they want in the number field beside the drop-down.
        That is very important for research, because it lets you see what the current value in the .sav file is,
        or lets you put in your own value for testing (careful! that can crash your game!),
        before we have created a labelled option for that value.
        However, for something like Gender, we obviously know that the only two options are Male and Female,
        so there's no point in allowing the user to enter a custom value, as it will probably just crash their game.
        -->
        <dropDown>
          <disableCustom />
          <!--
          This is an option.  It contains the label for the option (purely cosmetic, it's not a key or anything),
          and the value used by the game for that option.
          So for gender, there are two possible values used by the game: 0 and 1,
          corresponding to male and female respectively.
          Again, the label is just for ease of use; we could call it "Boy" and "Girl", or "Man" and "Woman".
          -->
          <option>
            <label>Male</label>
            <value>0</value>
          </option>
          <option>
            <label>Female</label>
            <value>1</value>
          </option>
        </dropDown>
      </parameter>
      <parameter>
        <key>voice</key>
        <label>Voice</label>
        <!--
        This is a slider element, which allows the user to choose any number between a range of values.
        These aren't very nice, because nobody knows what "Voice = 8" means.
        Want to do something easy to help out?
        Change this to a drop-down, with descriptions for each voice!
        The "min" and "max" fields represent the minimum/maximum values that can be used *IN THE .SAV FILE*,
        and this is where the converter comes in.
        The converter converts the value for it to be displayed in the UI, both as the slider value and as the
        number in the text box beside the slider.
        The "plusOne" converter just adds one to the value, because the .sav file uses 0-based numbers,
        but the user likes to see 1-based (and they are labelled as 1-based in the character creator).
        -->
        <slider>
          <converter>plusOne</converter>
          <min>0</min>
          <max>11</max>
        </slider>
      </parameter>
      <category>
        <label>Face</label>
        <parameter>
          <key>face</key>
          <label>Face type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>47</max>
          </slider>
        </parameter>
        <parameter>
          <key>humanHead</key>
          <label>Head size</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>8</max>
          </slider>
        </parameter>
        <parameter>
          <key>hair</key>
          <label>Hair type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>61</max>
          </slider>
        </parameter>
        <parameter>
          <key>beard</key>
          <label>Beard type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>41</max>
          </slider>
        </parameter>
        <parameter>
          <key>eye</key>
          <label>Eye type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>35</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyeX</key>
          <label>Eye separation</label>
          <slider>
            <!--
            The xOffset converter does 5 - value.
            That's because 0 in the .sav file corresponds to 5 (max) eye separation in the character creator,
            and 4 in the .sav file corresponds to 1 (min) eye separation in the character creator.
            -->
            <converter>xOffset</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyeY</key>
          <label>Eye height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyeSize</key>
          <label>Eye size</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyebrow</key>
          <label>Eyebrow type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>39</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyebrowX</key>
          <label>Eyebrow separation</label>
          <slider>
            <converter>xOffset</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyebrowY</key>
          <label>Eyebrow height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>nose</key>
          <label>Nose type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>35</max>
          </slider>
        </parameter>
        <parameter>
          <key>noseY</key>
          <label>Nose height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>noseSize</key>
          <label>Nose size</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>mouth</key>
          <label>Mouth type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>35</max>
          </slider>
        </parameter>
        <parameter>
          <key>mouthY</key>
          <label>Mouth height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>ear</key>
          <label>Ear type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>35</max>
          </slider>
        </parameter>
        <parameter>
          <key>earY</key>
          <label>Ear height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>earZ</key>
          <label>Ear depth</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>makeup</key>
          <label>Makeup type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>15</max>
          </slider>
        </parameter>
        <parameter>
          <key>scar</key>
          <label>Scar type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>47</max>
          </slider>
        </parameter>
        <parameter>
          <key>wrinkle</key>
          <label>Wrinkle severity</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
      </category>
      <category>
        <label>Body</label>
        <parameter>
          <key>HumanBodyAll</key>
          <label>Height</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>8</max>
          </slider>
        </parameter>
        <parameter>
          <key>bodySlender</key>
          <label>Weight</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>humanBody</key>
          <label>Torso type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>11</max>
          </slider>
        </parameter>
        <parameter>
          <key>humanArm</key>
          <label>Arm type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>11</max>
          </slider>
        </parameter>
        <parameter>
          <key>humanLeg</key>
          <label>Leg type</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>11</max>
          </slider>
        </parameter>
        <parameter>
          <key>bodyMuscle</key>
          <label>Musculature</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>breast</key>
          <label>Breast size</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>movement</key>
          <label>Stance</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
        <parameter>
          <key>posture</key>
          <label>Posture</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>4</max>
          </slider>
        </parameter>
      </category>
      <category>
        <label>Colours</label>
        <!--
        One day I'd like to do a colour picker!
        That will probably never happen ;)
        Maybe someone else can write the code for it.
        -->
        <parameter>
          <key>skinColour</key>
          <label>Skin colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>hairColour</key>
          <label>Hair colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>beardColour</key>
          <label>Beard colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyeColourR</key>
          <label>Right eye colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyeColourL</key>
          <label>Left eye colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>eyebrowColour</key>
          <label>Eyebrow colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
        <parameter>
          <key>makeupColour</key>
          <label>Makeup colour</label>
          <slider>
            <converter>plusOne</converter>
            <min>0</min>
            <max>52</max>
          </slider>
        </parameter>
      </category>
    </category>
    <parameter>
      <key>vocation</key>
      <label>Vocation</label>
      <dropDown>
        <disableCustom />
        <option>
          <label>Fighter</label>
          <value>1</value>
        </option>
        <option>
          <label>Strider</label>
          <value>2</value>
        </option>
        <option>
          <label>Mage</label>
          <value>3</value>
        </option>
        <option>
          <label>Mystic Knight</label>
          <value>4</value>
        </option>
        <option>
          <label>Assassin</label>
          <value>5</value>
        </option>
        <option>
          <label>Magick Archer</label>
          <value>6</value>
        </option>
        <option>
          <label>Warrior</label>
          <value>7</value>
        </option>
        <option>
          <label>Ranger</label>
          <value>8</value>
        </option>
        <option>
          <label>Sorcerer</label>
          <value>9</value>
        </option>
      </dropDown>
    </parameter>
    <category>
      <label>Job levels</label>
      <parameter>
        <key>joblevel1</key>
        <label>Fighter level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel2</key>
        <label>Strider level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel3</key>
        <label>Mage level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel4</key>
        <label>Assassin level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel5</key>
        <label>Mystic Knight level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel6</key>
        <label>Magic Archer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel7</key>
        <label>Warrior level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel8</key>
        <label>Ranger level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel9</key>
        <label>Sorcerer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
    </category>
    <category>
      <label>Skills</label>
      <category>
        <label>mSkillLv1 (try FFFFFFFF for all!)</label>
        <parameter>
          <key>skillLv1_1</key>
          <label>[0]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_2</key>
          <label>[1]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_3</key>
          <label>[2]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_4</key>
          <label>[3]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_5</key>
          <label>[4]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_6</key>
          <label>[5]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_7</key>
          <label>[6]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_8</key>
          <label>[7]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_9</key>
          <label>[8]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_10</key>
          <label>[9]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_11</key>
          <label>[10]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_12</key>
          <label>[11]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_13</key>
          <label>[12]</label>
          <hex></hex>
        </parameter>
        <parameter>
          <key>skillLv1_14</key>
          <label>[13]</label>
          <hex></hex>
        </parameter>
      </category>
      <category>
        <label>Sword</label>
        <parameter>
          <key>skillSword1</key>
          <label>Sword skill 1</label>
          <dropDown>
            <!--
            This links to an entry in the optionsDict.
            See how it's used six times in the Sword skills category?
            It would be bad practice to copy/paste the sword skills options six times here,
            especially since there are going to be a lot of skills, and it will be constantly
            updating while it's being researched.
            -->
            <key>skillSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillSword2</key>
          <label>Sword skill 2</label>
          <dropDown>
            <key>skillSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillSword3</key>
          <label>Sword skill 3</label>
          <dropDown>
            <key>skillSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillSword4</key>
          <label>Sword skill 4</label>
          <dropDown>
            <key>skillSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillSword5</key>
          <label>Sword skill 5</label>
          <dropDown>
            <key>skillSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillSword6</key>
          <label>Sword skill 6</label>
          <dropDown>
            <key>skillSword</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Mace</label>
        <parameter>
          <key>skillMace1</key>
          <label>Mace skill 1</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillMace2</key>
          <label>Mace skill 2</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillMace3</key>
          <label>Mace skill 3</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillMace4</key>
          <label>Mace skill 4</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillMace5</key>
          <label>Mace skill 5</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillMace6</key>
          <label>Mace skill 6</label>
          <dropDown>
            <key>skillMace</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Greatsword</label>
        <parameter>
          <key>skillGSword1</key>
          <label>Greatsword skill 1</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillGSword2</key>
          <label>Greatsword skill 2</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillGSword3</key>
          <label>Greatsword skill 3</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillGSword4</key>
          <label>Greatsword skill 4</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillGSword5</key>
          <label>Greatsword skill 5</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillGSword6</key>
          <label>Greatsword skill 6</label>
          <dropDown>
            <key>skillGSword</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Dagger</label>
        <parameter>
          <key>skillDagger1</key>
          <label>Dagger skill 1</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillDagger2</key>
          <label>Dagger skill 2</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillDagger3</key>
          <label>Dagger skill 3</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillDagger4</key>
          <label>Dagger skill 4</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillDagger5</key>
          <label>Dagger skill 5</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillDagger6</key>
          <label>Dagger skill 6</label>
          <dropDown>
            <key>skillDagger</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Wand</label>
        <parameter>
          <key>skillWand1</key>
          <label>Wand skill 1</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillWand2</key>
          <label>Wand skill 2</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillWand3</key>
          <label>Wand skill 3</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillWand4</key>
          <label>Wand skill 4</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillWand5</key>
          <label>Wand skill 5</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillWand6</key>
          <label>Wand skill 6</label>
          <dropDown>
            <key>skillWand</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Hammer</label>
        <parameter>
          <key>skillHammer1</key>
          <label>Hammer skill 1</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillHammer2</key>
          <label>Hammer skill 2</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillHammer3</key>
          <label>Hammer skill 3</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillHammer4</key>
          <label>Hammer skill 4</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillHammer5</key>
          <label>Hammer skill 5</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillHammer6</key>
          <label>Hammer skill 6</label>
          <dropDown>
            <key>skillHammer</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Shield</label>
        <parameter>
          <key>skillShield1</key>
          <label>Shield skill 1</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillShield2</key>
          <label>Shield skill 2</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillShield3</key>
          <label>Shield skill 3</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillShield4</key>
          <label>Shield skill 4</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillShield5</key>
          <label>Shield skill 5</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillShield6</key>
          <label>Shield skill 6</label>
          <dropDown>
            <key>skillShield</key>
          </dropDown>
        </parameter>
      </category>
      <category>
        <label>Bow</label>
        <parameter>
          <key>skillBow1</key>
          <label>Bow skill 1</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillBow2</key>
          <label>Bow skill 2</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillBow3</key>
          <label>Bow skill 3</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillBow4</key>
          <label>Bow skill 4</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillBow5</key>
          <label>Bow skill 5</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
        <parameter>
          <key>skillBow6</key>
          <label>Bow skill 6</label>
          <dropDown>
            <key>skillBow</key>
          </dropDown>
        </parameter>
      </category>
    </category>
    <category>
      <label>Inclination (experimental!)</label>
      <parameter>
        <key>incScatherValue</key>
        <label>Scather</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incMedicantValue</key>
        <label>Medicant</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incMitigatorValue</key>
        <label>Mitigator</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incChallengerValue</key>
        <label>Challenger</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incUtilitarianValue</key>
        <label>Utilitarian</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incGuardianValue</key>
        <label>Guardian</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incNexusValue</key>
        <label>Nexus</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incPioneerValue</key>
        <label>Pioneer</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
      <parameter>
        <key>incAcquisitorValue</key>
        <label>Acquisitor</label>
        <slider>
          <min>0</min>
          <max>1000</max>
        </slider>
      </parameter>
    </category>
  </edit>
  <!--
  This section tells PawnManager how to read a .sav file.
  More specifically, this section mirrors the structure of the .sav file,
  and tells PawnManager which elements to associate with a given key,
  used by the edit section.
  
  It basically works by reading an element in the config, gets the name of that element,
  then traverses the .sav file breadth-wise (i.e. without recursing into children)
  until it finds an element with that name.  If the element is a class (i.e. contains other elements),
  it recurses into that element, and if it's something else ("data" or "array" in the config),
  it grabs the key, looks up the key in the edit config, then reads or writes that data to/from the Pawn.
  
  So yes, this *mirrors* the structure of the .sav file.  It is very important that everything here
  is in exactly the same order as the .sav file, or else PawnManager will crash or give up or
  skip a section or something when it encounters an element out-of-order.
  
  The .sav file contains a nice array of three big structures, all with exactly the same elements,
  each containing the data of the three pawns.
  Pawns 1 and 2 just use their respective entries from that array (2 and 3), and cause no fuss.
  The Main Pawn is a little bitch though, and while it WRITES to entry 1 when you save the game,
  it READS its data from all over the goddamned place.
  For example, it reads its appearance from mSystemData/mEditPawn.  That means you need different
  behaviour depending on what Pawn you're exporting.
  Technically we don't have to write to that first entry when exporting the main Pawn,
  but we do anyway, just to mirror the behaviour of the game.
  As of release 0.1.0, I have no idea where the main Pawn reads its skills, vocation, level, etc. from,
  so you won't be able to export any of that to the main Pawn.
  -->
  <sav>
    <!--
    This is basically just a list of reusable element trees for the sav section.
    For example, the Pawn appearance section is used in two completely different places in the .sav file
    (in the mCmc array, where you find Pawn 1 and Pawn 2, and in the mSystemData/mEditPawn section,
    for the main Pawn), so they reference a template instead of copy/pasting the XML.
    -->
    <templates>
      <template>
        <!--
        This key is for referencing this template.
        -->
        <key>mEdit</key>
        <data>
          <name>(u8*)mNameStr</name>
          <key>name</key>
        </data>
        <data>
          <name>mGender</name>
          <key>gender</key>
        </data>
        <data>
          <name>mVoice</name>
          <key>voice</key>
        </data>
        <data>
          <name>mFaceBase</name>
          <key>face</key>
        </data>
        <data>
          <name>mFaceEye</name>
          <key>eye</key>
        </data>
        <data>
          <name>mFaceEyebrow</name>
          <key>eyebrow</key>
        </data>
        <data>
          <name>mFaceNose</name>
          <key>nose</key>
        </data>
        <data>
          <name>mFaceMouth</name>
          <key>mouth</key>
        </data>
        <data>
          <name>mFaceEar</name>
          <key>ear</key>
        </data>
        <data>
          <name>mOfsXFaceEye</name>
          <key>eyeX</key>
        </data>
        <data>
          <name>mOfsYFaceEye</name>
          <key>eyeY</key>
        </data>
        <data>
          <name>mOfsXFaceEyebrow</name>
          <key>eyebrowX</key>
        </data>
        <data>
          <name>mOfsYFaceEyebrow</name>
          <key>eyebrowY</key>
        </data>
        <data>
          <name>mOfsYFaceNose</name>
          <key>noseY</key>
        </data>
        <data>
          <name>mOfsYFaceMouth</name>
          <key>mouthY</key>
        </data>
        <data>
          <name>mOfsYFaceEar</name>
          <key>earY</key>
        </data>
        <data>
          <name>mOfsZFaceEar</name>
          <key>earZ</key>
        </data>
        <data>
          <name>mSclFaceEye</name>
          <key>eyeSize</key>
        </data>
        <data>
          <name>mSclFaceNose</name>
          <key>noseSize</key>
        </data>
        <data>
          <name>mBodySlender</name>
          <key>bodySlender</key>
        </data>
        <data>
          <name>mBodyMuscle</name>
          <key>bodyMuscle</key>
        </data>
        <data>
          <name>mBustScale</name>
          <key>breast</key>
        </data>
        <data>
          <name>mHumanBodyAll</name>
          <key>HumanBodyAll</key>
        </data>
        <data>
          <name>mHumanHead</name>
          <key>humanHead</key>
        </data>
        <data>
          <name>mHumanBody</name>
          <key>humanBody</key>
        </data>
        <data>
          <name>mHumanArm</name>
          <key>humanArm</key>
        </data>
        <data>
          <name>mHumanLeg</name>
          <key>humanLeg</key>
        </data>
        <data>
          <name>mMovement</name>
          <key>movement</key>
        </data>
        <data>
          <name>mPosture</name>
          <key>posture</key>
        </data>
        <data>
          <name>mWrinkleFace</name>
          <key>wrinkle</key>
        </data>
        <data>
          <name>mMakeupFace</name>
          <key>makeup</key>
        </data>
        <data>
          <name>mScarNo</name>
          <key>scar</key>
        </data>
        <data>
          <name>mColorHair</name>
          <key>hairColour</key>
        </data>
        <data>
          <name>mColorEyeR</name>
          <key>eyeColourR</key>
        </data>
        <data>
          <name>mColorEyeL</name>
          <key>eyeColourL</key>
        </data>
        <data>
          <name>mColorBody</name>
          <key>skinColour</key>
        </data>
        <data>
          <name>mColorBeard</name>
          <key>beardColour</key>
        </data>
        <data>
          <name>mColorEyebrow</name>
          <key>eyebrowColour</key>
        </data>
        <data>
          <name>mColorMakeup</name>
          <key>makeupColour</key>
        </data>
        <data>
          <name>mHairNo</name>
          <key>hair</key>
        </data>
        <data>
          <name>mBeardNo</name>
          <key>beard</key>
        </data>
      </template>
      <template>
        <key>mParam</key>
        <data>
          <name>mJob</name>
          <key>vocation</key>
        </data>
        <array>
          <name>mJobLevel</name>
          <key></key>
          <key>joblevel1</key>
          <key>joblevel2</key>
          <key>joblevel3</key>
          <key>joblevel4</key>
          <key>joblevel5</key>
          <key>joblevel6</key>
          <key>joblevel7</key>
          <key>joblevel8</key>
          <key>joblevel9</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::SWORD]</name>
          <key>skillSword1</key>
          <key>skillSword2</key>
          <key>skillSword3</key>
          <key>skillSword4</key>
          <key>skillSword5</key>
          <key>skillSword6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::MACE]</name>
          <key>skillMace1</key>
          <key>skillMace2</key>
          <key>skillMace3</key>
          <key>skillMace4</key>
          <key>skillMace5</key>
          <key>skillMace6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::GSWORD]</name>
          <key>skillGSword1</key>
          <key>skillGSword2</key>
          <key>skillGSword3</key>
          <key>skillGSword4</key>
          <key>skillGSword5</key>
          <key>skillGSword6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::DAGGER]</name>
          <key>skillDagger1</key>
          <key>skillDagger2</key>
          <key>skillDagger3</key>
          <key>skillDagger4</key>
          <key>skillDagger5</key>
          <key>skillDagger6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::WAND]</name>
          <key>skillWand1</key>
          <key>skillWand2</key>
          <key>skillWand3</key>
          <key>skillWand4</key>
          <key>skillWand5</key>
          <key>skillWand6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::WAND_DX]</name>
          <key>skillWandDX1</key>
          <key>skillWandDX2</key>
          <key>skillWandDX3</key>
          <key>skillWandDX4</key>
          <key>skillWandDX5</key>
          <key>skillWandDX6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::HAMMER]</name>
          <key>skillHammer1</key>
          <key>skillHammer2</key>
          <key>skillHammer3</key>
          <key>skillHammer4</key>
          <key>skillHammer5</key>
          <key>skillHammer6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::SHIELD]</name>
          <key>skillShield1</key>
          <key>skillShield2</key>
          <key>skillShield3</key>
          <key>skillShield4</key>
          <key>skillShield5</key>
          <key>skillShield6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::SHIELD_L]</name>
          <key>skillShieldL1</key>
          <key>skillShieldL2</key>
          <key>skillShieldL3</key>
          <key>skillShieldL4</key>
          <key>skillShieldL5</key>
          <key>skillShieldL6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::BOW]</name>
          <key>skillBow1</key>
          <key>skillBow2</key>
          <key>skillBow3</key>
          <key>skillBow4</key>
          <key>skillBow5</key>
          <key>skillBow6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::BOW_L]</name>
          <key>skillBowL1</key>
          <key>skillBowL2</key>
          <key>skillBowL3</key>
          <key>skillBowL4</key>
          <key>skillBowL5</key>
          <key>skillBowL6</key>
        </array>
        <array>
          <name>mWeaponSkill[nWeapon::BOW_MG]</name>
          <key>skillBowMG1</key>
          <key>skillBowMG2</key>
          <key>skillBowMG3</key>
          <key>skillBowMG4</key>
          <key>skillBowMG5</key>
          <key>skillBowMG6</key>
        </array>
        <array>
          <name>mSkillLv1</name>
          <key>skillLv1_1</key>
          <key>skillLv1_2</key>
          <key>skillLv1_3</key>
          <key>skillLv1_4</key>
          <key>skillLv1_5</key>
          <key>skillLv1_6</key>
          <key>skillLv1_7</key>
          <key>skillLv1_8</key>
          <key>skillLv1_9</key>
          <key>skillLv1_10</key>
          <key>skillLv1_11</key>
          <key>skillLv1_12</key>
          <key>skillLv1_13</key>
          <key>skillLv1_14</key>
        </array>
      </template>
      <template>
        <key>saveDataCmc</key>
        <class>
          <name>mEdit</name>
          <template>mEdit</template>
        </class>
        <class>
          <name>mParam</name>
          <template>mParam</template>
        </class>
        <data>
          <name>mInfo[ INFO_TYPE_BELLIGERENT ].mValue</name>
          <key>incScatherValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_PRUDENT ].mValue</name>
          <key>incMedicantValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_POOR_AIM ].mValue</name>
          <key>incMitigatorValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_STRATEGY ].mValue</name>
          <key>incChallengerValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_TACTICS ].mValue</name>
          <key>incUtilitarianValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_PROTECTION ].mValue</name>
          <key>incGuardianValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_SAME_SUPPORT ].mValue</name>
          <key>incNexusValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_CURIOSITY ].mValue</name>
          <key>incPioneerValue</key>
        </data>
        <data>
          <name>mInfo[ INFO_TYPE_GATHER ].mValue</name>
          <key>incAcquisitorValue</key>
        </data>
      </template>
    </templates>
    <class>
      <name>mPlayerDataManual</name>
      <class>
        <name>mPlCmcEditAndParam</name>
        <array>
          <name>mCmc</name>
          <class>
            <!--
            This condition says that everything in this section only applies to the main Pawn,
            so if you're not importing or exporting the main Pawn, skip this section.
            -->
            <condition>
              <pawn>MainPawn</pawn>
            </condition>
            <class>
              <name>mEdit</name>
              <!--
              This condition says to only write to the .sav file here, and not to read the values here
              into the Pawn, since there is another section later on (in mSystemData) that is the
              "real" data that the main Pawn gets its appearance from.
              Technically we could read from here, since PawnManager and the game both keep the two places
              in sync when writing, but the game doesn't read from here, and the current implementation
              will throw an error if you try to read a duplicate key while loading into a Pawn.
              -->
              <condition>
                <writeonly/>
              </condition>
              <template>mEdit</template>
            </class>
            <class>
              <name>mParam</name>
              <template>mParam</template>
            </class>
            <data>
              <name>mInfo[ INFO_TYPE_BELLIGERENT ].mValue</name>
              <key>incScatherValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_PRUDENT ].mValue</name>
              <key>incMedicantValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_POOR_AIM ].mValue</name>
              <key>incMitigatorValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_STRATEGY ].mValue</name>
              <key>incChallengerValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_TACTICS ].mValue</name>
              <key>incUtilitarianValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_PROTECTION ].mValue</name>
              <key>incGuardianValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_SAME_SUPPORT ].mValue</name>
              <key>incNexusValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_CURIOSITY ].mValue</name>
              <key>incPioneerValue</key>
            </data>
            <data>
              <name>mInfo[ INFO_TYPE_GATHER ].mValue</name>
              <key>incAcquisitorValue</key>
            </data>
          </class>
          <class>
            <!--Pawn 1-->
            <condition>
              <pawn>Pawn1</pawn>
            </condition>
            <template>saveDataCmc</template>
          </class>
          <class>
            <!--Pawn 2-->
            <condition>
              <pawn>Pawn2</pawn>
            </condition>
            <template>saveDataCmc</template>
          </class>
        </array>
      </class>
    </class>
    <class>
      <name>mSystemData</name>
      <condition>
        <pawn>MainPawn</pawn>
      </condition>
      <class>
        <name>mEditPawn</name>
        <template>mEdit</template>
      </class>
    </class>
  </sav>
</root>
