<?xml version="1.0" encoding="utf-8" ?>
<root version="1">
  <edit>
    <category>
      <label>Appearance</label>
      <parameter>
        <key>name</key>
        <label>Name</label>
        <string></string>
      </parameter>
      <parameter>
        <key>gender</key>
        <label>Gender</label>
        <options>
          <option>
            <label>Male</label>
            <value>0</value>
          </option>
          <option>
            <label>Female</label>
            <value>1</value>
          </option>
        </options>
      </parameter>
      <parameter>
        <key>voice</key>
        <label>Voice</label>
        <slider>
          <min>0</min>
          <max>15</max>
        </slider>
      </parameter>
      <parameter>
        <key>face</key>
        <label>Face type</label>
        <slider>
          <min>50</min>
          <max>89</max>
        </slider>
      </parameter>
      <parameter>
        <key>eye</key>
        <label>Eye type</label>
        <slider>
          <min>50</min>
          <max>89</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyeX</key>
        <label>Eye separation</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyeY</key>
        <label>Eye height</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyeSize</key>
        <label>Eye size</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyeColourR</key>
        <label>Right eye colour</label>
        <slider>
          <min>0</min>
          <max>29</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyeColourL</key>
        <label>Left eye colour</label>
        <slider>
          <min>0</min>
          <max>29</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyebrow</key>
        <label>Eyebrow type</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyebrowX</key>
        <label>Eyebrow separation</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyebrowY</key>
        <label>Eyebrow height</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>nose</key>
        <label>Nose type</label>
        <slider>
          <min>50</min>
          <max>89</max>
        </slider>
      </parameter>
      <parameter>
        <key>noseY</key>
        <label>Nose height</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>noseSize</key>
        <label>Nose size</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>mouth</key>
        <label>Mouth type</label>
        <slider>
          <min>50</min>
          <max>89</max>
        </slider>
      </parameter>
      <parameter>
        <key>mouthY</key>
        <label>Mouth height</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>ear</key>
        <label>Ear type</label>
        <slider>
          <min>50</min>
          <max>89</max>
        </slider>
      </parameter>
      <parameter>
        <key>earY</key>
        <label>Ear height</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>earZ</key>
        <label>Ear depth</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>bodySlender</key>
        <label>bodySlender</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>bodyMuscle</key>
        <label>bodyMuscle</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>breast</key>
        <label>Breast size</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>HumanBodyAll</key>
        <label>HumanBodyAll</label>
        <slider>
          <min>50</min>
          <max>94</max>
        </slider>
      </parameter>
      <parameter>
        <key>humanHead</key>
        <label>humanHead</label>
        <slider>
          <min>50</min>
          <max>94</max>
        </slider>
      </parameter>
      <parameter>
        <key>humanBody</key>
        <label>humanBody</label>
        <slider>
          <min>50</min>
          <max>94</max>
        </slider>
      </parameter>
      <parameter>
        <key>humanArm</key>
        <label>humanArm</label>
        <slider>
          <min>50</min>
          <max>94</max>
        </slider>
      </parameter>
      <parameter>
        <key>humanLeg</key>
        <label>humanLeg</label>
        <slider>
          <min>50</min>
          <max>94</max>
        </slider>
      </parameter>
      <parameter>
        <key>movement</key>
        <label>movement</label>
        <slider>
          <min>0</min>
          <max>4</max>
        </slider>
      </parameter>
      <parameter>
        <key>posture</key>
        <label>posture</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>wrinkle</key>
        <label>wrinkle</label>
        <slider>
          <min>0</min>
          <max>3</max>
        </slider>
      </parameter>
      <parameter>
        <key>makeup</key>
        <label>makeup</label>
        <slider>
          <min>0</min>
          <max>15</max>
        </slider>
      </parameter>
      <parameter>
        <key>scar</key>
        <label>scar</label>
        <slider>
          <min>0</min>
          <max>12</max>
        </slider>
      </parameter>
      <parameter>
        <key>skinColour</key>
        <label>Skin colour</label>
        <slider>
          <min>0</min>
          <max>29</max>
        </slider>
      </parameter>
      <parameter>
        <key>eyebrowColour</key>
        <label>eyebrowColour</label>
        <slider>
          <min>0</min>
          <max>20</max>
        </slider>
      </parameter>
      <parameter>
        <key>makeupColour</key>
        <label>makeupColour</label>
        <slider>
          <min>0</min>
          <max>20</max>
        </slider>
      </parameter>
      <parameter>
        <key>hair</key>
        <label>Hair type</label>
        <slider>
          <min>0</min>
          <max>15</max>
        </slider>
      </parameter>
      <parameter>
        <key>hairColour</key>
        <label>Hair colour</label>
        <slider>
          <min>0</min>
          <max>19</max>
        </slider>
      </parameter>
      <parameter>
        <key>beard</key>
        <label>Beard type</label>
        <slider>
          <min>0</min>
          <max>33</max>
        </slider>
      </parameter>
      <parameter>
        <key>beardColour</key>
        <label>Beard colour</label>
        <slider>
          <min>0</min>
          <max>20</max>
        </slider>
      </parameter>
    </category>
    <parameter>
      <key>vocation</key>
      <label>Vocation</label>
      <options>
        <option>
          <label>Fighter</label>
          <value>1</value>
        </option>
        <option>
          <label>Strider</label>
          <value>2</value>
        </option>
        <option>
          <label>Mage</label>
          <value>3</value>
        </option>
        <option>
          <label>Assassin</label>
          <value>4</value>
        </option>
        <option>
          <label>Mystic Knight</label>
          <value>5</value>
        </option>
        <option>
          <label>Magic Archer</label>
          <value>6</value>
        </option>
        <option>
          <label>Warrior</label>
          <value>7</value>
        </option>
        <option>
          <label>Ranger</label>
          <value>8</value>
        </option>
        <option>
          <label>Sorcerer</label>
          <value>9</value>
        </option>
      </options>
    </parameter>
    <category>
      <label>Job levels</label>
      <parameter>
        <key>joblevel1</key>
        <label>Fighter level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel2</key>
        <label>Strider level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel3</key>
        <label>Mage level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel4</key>
        <label>Assassin level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel5</key>
        <label>Mystic Knight level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel6</key>
        <label>Magic Archer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel7</key>
        <label>Warrior level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel8</key>
        <label>Ranger level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel9</key>
        <label>Sorcerer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
    </category>
  </edit>
  <sav>
    <class>
      <name>mEdit</name>
      <data>
        <name>(u8*)mNameStr</name>
        <key>name</key>
      </data>
      <data>
        <name>mGender</name>
        <key>gender</key>
      </data>
      <data>
        <name>mVoice</name>
        <key>voice</key>
      </data>
      <data>
        <name>mFaceBase</name>
        <key>face</key>
      </data>
      <data>
        <name>mFaceEye</name>
        <key>eye</key>
      </data>
      <data>
        <name>mFaceEyebrow</name>
        <key>eyebrow</key>
      </data>
      <data>
        <name>mFaceNose</name>
        <key>nose</key>
      </data>
      <data>
        <name>mFaceMouth</name>
        <key>mouth</key>
      </data>
      <data>
        <name>mFaceEar</name>
        <key>ear</key>
      </data>
      <data>
        <name>mOfsXFaceEye</name>
        <key>eyeX</key>
      </data>
      <data>
        <name>mOfsYFaceEye</name>
        <key>eyeY</key>
      </data>
      <data>
        <name>mOfsXFaceEyebrow</name>
        <key>eyebrowX</key>
      </data>
      <data>
        <name>mOfsYFaceEyebrow</name>
        <key>eyebrowY</key>
      </data>
      <data>
        <name>mOfsYFaceNose</name>
        <key>noseY</key>
      </data>
      <data>
        <name>mOfsYFaceMouth</name>
        <key>mouthY</key>
      </data>
      <data>
        <name>mOfsYFaceEar</name>
        <key>earY</key>
      </data>
      <data>
        <name>mOfsZFaceEar</name>
        <key>earZ</key>
      </data>
      <data>
        <name>mSclFaceEye</name>
        <key>eyeSize</key>
      </data>
      <data>
        <name>mSclFaceNose</name>
        <key>noseSize</key>
      </data>
      <data>
        <name>mBodySlender</name>
        <key>bodySlender</key>
      </data>
      <data>
        <name>mBodyMuscle</name>
        <key>bodyMuscle</key>
      </data>
      <data>
        <name>mBustScale</name>
        <key>breast</key>
      </data>
      <data>
        <name>mHumanBodyAll</name>
        <key>HumanBodyAll</key>
      </data>
      <data>
        <name>mHumanHead</name>
        <key>humanHead</key>
      </data>
      <data>
        <name>mHumanBody</name>
        <key>humanBody</key>
      </data>
      <data>
        <name>mHumanArm</name>
        <key>humanArm</key>
      </data>
      <data>
        <name>mHumanLeg</name>
        <key>humanLeg</key>
      </data>
      <data>
        <name>mMovement</name>
        <key>movement</key>
      </data>
      <data>
        <name>mPosture</name>
        <key>posture</key>
      </data>
      <data>
        <name>mWrinkleFace</name>
        <key>wrinkle</key>
      </data>
      <data>
        <name>mMakeupFace</name>
        <key>makeup</key>
      </data>
      <data>
        <name>mScarNo</name>
        <key>scar</key>
      </data>
      <data>
        <name>mColorHair</name>
        <key>hairColour</key>
      </data>
      <data>
        <name>mColorEyeR</name>
        <key>eyeColourR</key>
      </data>
      <data>
        <name>mColorEyeL</name>
        <key>eyeColourL</key>
      </data>
      <data>
        <name>mColorBody</name>
        <key>skinColour</key>
      </data>
      <data>
        <name>mColorBeard</name>
        <key>beardColour</key>
      </data>
      <data>
        <name>mColorEyebrow</name>
        <key>eyebrowColour</key>
      </data>
      <data>
        <name>mColorMakeup</name>
        <key>makeupColour</key>
      </data>
      <data>
        <name>mHairNo</name>
        <key>hair</key>
      </data>
      <data>
        <name>mBeardNo</name>
        <key>beard</key>
      </data>
    </class>
    <class>
      <name>mParam</name>
      <data>
        <name>mJob</name>
        <key>vocation</key>
      </data>
      <array>
        <name>mJobLevel</name>
        <key></key>
        <key>joblevel1</key>
        <key>joblevel2</key>
        <key>joblevel3</key>
        <key>joblevel4</key>
        <key>joblevel5</key>
        <key>joblevel6</key>
        <key>joblevel7</key>
        <key>joblevel8</key>
        <key>joblevel9</key>
      </array>
    </class>
  </sav>
</root>
