<?xml version="1.0" encoding="utf-8" ?>
<root>
  <edit>
    <category>
      <label>Appearance</label>
      <parameter>
        <key>name</key>
        <label>Name</label>
        <string></string>
      </parameter>
      <parameter>
        <key>gender</key>
        <label>Gender</label>
        <options>
          <option>
            <label>Male</label>
            <value>0</value>
          </option>
          <option>
            <label>Female</label>
            <value>1</value>
          </option>
        </options>
      </parameter>
      <parameter>
        <key>voice</key>
        <label>Voice</label>
        <slider>
          <min>0</min>
          <max>15</max>
        </slider>
      </parameter>
      <parameter>
        <key>face</key>
        <label>Face type</label>
        <slider>
          <min>0</min>
          <max>40</max>
        </slider>
      </parameter>
      <parameter>
        <key>eye</key>
        <label>Eye type</label>
        <slider>
          <min>0</min>
          <max>40</max>
        </slider>
      </parameter>
    </category>
    <parameter>
      <key>vocation</key>
      <label>Vocation</label>
      <options>
        <option>
          <label>Fighter</label>
          <value>1</value>
        </option>
        <option>
          <label>Strider</label>
          <value>2</value>
        </option>
        <option>
          <label>Mage</label>
          <value>3</value>
        </option>
        <option>
          <label>Assassin</label>
          <value>4</value>
        </option>
        <option>
          <label>Mystic Knight</label>
          <value>5</value>
        </option>
        <option>
          <label>Magic Archer</label>
          <value>6</value>
        </option>
        <option>
          <label>Warrior</label>
          <value>7</value>
        </option>
        <option>
          <label>Ranger</label>
          <value>8</value>
        </option>
        <option>
          <label>Sorcerer</label>
          <value>9</value>
        </option>
      </options>
    </parameter>
    <category>
      <label>Job levels</label>
      <parameter>
        <key>joblevel1</key>
        <label>Fighter level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel2</key>
        <label>Strider level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel3</key>
        <label>Mage level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel4</key>
        <label>Assassin level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel5</key>
        <label>Mystic Knight level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel6</key>
        <label>Magic Archer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel7</key>
        <label>Warrior level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel8</key>
        <label>Ranger level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
      <parameter>
        <key>joblevel9</key>
        <label>Sorcerer level</label>
        <slider>
          <min>1</min>
          <max>10</max>
        </slider>
      </parameter>
    </category>
  </edit>
  <sav>
    <class>
      <name>mEdit</name>
      <data>
        <name>(u8*)mNameStr</name>
        <key>name</key>
      </data>
      <data>
        <name>mVoice</name>
        <key>voice</key>
      </data>
      <data>
        <name>mFaceBase</name>
        <key>face</key>
      </data>
      <data>
        <name>mFaceEye</name>
        <key>eye</key>
      </data>
      <data>
        <name>mBustScale</name>
        <key>breast</key>
      </data>
      <data>
        <name>mHairNo</name>
        <key>hair</key>
      </data>
    </class>
    <class>
      <name>mParam</name>
      <data>
        <name>mJob</name>
        <key>vocation</key>
      </data>
      <array>
        <name>mJobLevel</name>
        <key></key>
        <key>joblevel1</key>
        <key>joblevel2</key>
        <key>joblevel3</key>
        <key>joblevel4</key>
        <key>joblevel5</key>
        <key>joblevel6</key>
        <key>joblevel7</key>
        <key>joblevel8</key>
        <key>joblevel9</key>
      </array>
    </class>
  </sav>
</root>
